@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #21202a;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fd77a1;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }